@import '../../styles/layout-breakpoints';
.main-content {
    padding: 0 40px;
    @include layout-xs {
        padding: 0 10px;
    }
    @include layout-sm {
        padding: 0 20px;
    }
}

.view-port-container {
    overflow: hidden;
}

.view-port.ng-enter {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s;
    -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s;
    -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s;
    position: relative;
    opacity: 0;
    left: 50px;
}

.view-port.ng-enter.ng-enter-active {
    left: 0;
    opacity: 1;
}

@media print {
    .main-toolbar {
        display: none;
    }
    md-tooltip {
        display: none;
    }
}