<div class="page-header page-header-custom" layout="row" layout-align="start center">
    <md-button class="md-icon-button" aria-label="Volver" ng-click="$ctrl.goBack()">
        <md-icon class="material-icons">arrow_back</md-icon>
        <md-tooltip>Volver</md-tooltip>
    </md-button>
    <h1>{{$ctrl.tournament.name}} > Categorias</h1>
</div>
<md-button class="md-fab md-primary md-fab-bottom-right" aria-label="Crear Categoria" ng-link="['CategoryCreate', { tournamentId: $ctrl.tournament.id }]">
    <md-icon class="material-icons">add</md-icon>
    <md-tooltip>Crear Categoria</md-tooltip>
</md-button>
<br />
<p ng-if="$ctrl.tournament.categories.length == 0">No se encontraron datos</p>
<md-list ng-if="$ctrl.tournament.categories.length > 0">
    <md-divider></md-divider>
    <md-list-item ng-repeat="category in $ctrl.tournament.categories" ng-click="$ctrl.navigateTo(['CategoryDetails', { tournamentId: $ctrl.tournament.id, categoryId: category.id }])">
        <p>{{category.name}}</p>
        <p>{{category.typeDescription}}</p>
        <p>{{category.from}}</p>
        <p>{{category.to}}</p>
        <md-divider></md-divider>
    </md-list-item>
</md-list>