<div layout="row">
    <span flex></span>
    <md-button
        class="md-icon-button"
        aria-label="Asignar Nadadores Automaticamente"
        ng-click="$ctrl.autoAssignSwimmers($event)"
    >
        <md-icon>swap_vertical_circle</md-icon>
        <md-tooltip>Asignar Nadadores Automaticamente</md-tooltip>
    </md-button>
    <md-button
        class="md-icon-button"
        aria-label="Crear Prueba"
        ng-href="#!/tournaments/{{$ctrl.tournament.id}}/events/create"
    >
        <md-icon>add</md-icon>
        <md-tooltip>Crear Prueba</md-tooltip>
    </md-button>
</div>

<br>

<div
    class="layout layout-row layout-align-center-center"
    layout="row"
    layout-align="center center"
>
    <feedback ng-model="$ctrl.feedbacks.autoAssignSwimmers"></feedback>
</div>

<p ng-if="!$ctrl.tournament.events.length">No se encontraron datos</p>

<md-list ng-if="$ctrl.tournament.events.length">
    <md-list-item>
        <p flex>Num</p>
        <p flex>Distancia</p>
        <p flex>Estilo</p>
        <p flex>Categoria</p>
        <p flex>Genero</p>
        <p flex>Estado</p>
    </md-list-item>

    <md-divider></md-divider>

    <md-list-item
        ng-repeat="event in $ctrl.tournament.events"
        ng-click="$ctrl.navigateTo('/tournaments/' + $ctrl.tournament.id + '/events/details/' + event.id)"
    >
        <p>{{event.number}}</p>
        <p>{{event.distance}}</p>
        <p>{{event.style}}</p>
        <p>{{event.category.name}}</p>
        <p>{{event.genderDescription}}</p>
        <p>
            <span ng-if="event.state === 0">
    <md-icon>remove</md-icon>
            </span>
            <span ng-if="event.state === 1">
    <md-icon>play_arrow</md-icon>
    &nbsp;
    En progreso
    </span>
            <span ng-if="event.state === 2">
    <md-icon>done</md-icon>
    &nbsp;
    Finalizada
    </span>
        </p>

        <md-icon
            class="material-icons md-secondary"
            ng-click="$ctrl.deleteEvent($event, event)"
            aria-label="Quitar"
        >delete
            <md-tooltip>Quitar Prueba</md-tooltip>
        </md-icon>
    </md-list-item>
</md-list>