<div class="page-header page-header-custom layout layout-row layout-align-start-center">
    <!--<md-button class="md-icon-button"
        aria-label="Volver"
        ng-click="$ctrl.goBack()"
        e2e="go-back-btn">
        <md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
        <md-tooltip>Volver</md-tooltip>
    </md-button>-->

    <h1 e2e="main-title">Nadadores</h1>

    <span class="flex"></span>

    <md-button
        class="md-icon-button"
        aria-label="Crear"
        ng-href="#!/swimmers/create"
    >
        <md-icon>add</md-icon>
        <md-tooltip>Crear</md-tooltip>
    </md-button>
</div>

<p ng-if="$ctrl.swimmers.length == 0">No se encontraron datos</p>
<md-list ng-if="$ctrl.swimmers.length > 0">
    <md-list-item>
        <p>Nombre</p>
        <p>Fecha Nacimiento</p>
        <p>Edad</p>
        <p>Sexo</p>
        <p>Documento</p>
        <p>Ciudad</p>
        <p>Equipo</p>
    </md-list-item>

    <md-divider></md-divider>

    <md-list-item
        class="md-body-1"
        ng-repeat="swimmer in $ctrl.swimmers"
        ng-click="$ctrl.navigateTo('/swimmers/details/'+swimmer.id)"
    >
        <p>{{swimmer.fullName}}</p>
        <p>{{swimmer.birthDate | date: 'shortDate'}}</p>
        <p>{{swimmer.age}}</p>
        <p>{{swimmer.genderDescription}}</p>
        <p>{{swimmer.nid ? swimmer.nid : '-'}}</p>
        <p>{{swimmer.city ? swimmer.city : '-'}}</p>
        <p>{{swimmer.team ? swimmer.team : '-'}}</p>
        <!--<md-menu md-position-mode="target-right target">
            <md-button aria-label="Menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                <md-icon md-menu-origin>description</md-icon>
            </md-button>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button ng-click="$ctrl.navigateTo('swimmers/details/'+swimmer.id)">
                        <p>Detalles</p>
                        <md-icon md-menu-align-target>check</md-icon>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$ctrl.navigateTo('swimmers/edit/'+swimmer.id)">
                        <p>Editar</p>
                        <md-icon md-menu-align-target>check</md-icon>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>-->
        <md-divider></md-divider>
    </md-list-item>
</md-list>