<div
    class="page-header page-header-custom"
    layout="row"
    layout-align="start center"
>
    <md-button
        class="md-icon-button"
        aria-label="Volver"
        ng-click="$ctrl.goBack()"
    >
        <md-icon>arrow_back</md-icon>
        <md-tooltip>Volver</md-tooltip>
    </md-button>
    <h1>Prueba: {{$ctrl.event.number}}</h1>
    <span flex></span>

    <md-button
        class="md-icon-button"
        aria-label="Agregar Nadadores"
        ng-click="$ctrl.showSwimmersSelectionDialog($event)"
    >
        <md-icon>add</md-icon>
        <md-tooltip>Agregar Nadadores</md-tooltip>
    </md-button>

    <!--ng-link="['EventStart', {tournamentId:$ctrl.tournament.id, eventId: $ctrl.event.id}]"-->
    <md-button
        class="md-icon-button"
        aria-label="Editar Datos"
        ng-href="#!/tournaments/{{$ctrl.tournament.id}}/events/edit/{{$ctrl.event.id}}"
    >
        <md-icon>edit</md-icon>
        <md-tooltip>Editar Datos</md-tooltip>
    </md-button>
    <md-button
        class="md-icon-button"
        aria-label="Eliminar"
        ng-click="$ctrl.delete($event)"
    >
        <md-icon>delete</md-icon>
        <md-tooltip>Eliminar Prueba</md-tooltip>
    </md-button>
</div>
<md-content layout-padding>
    <div layout="row">
        <div flex>
            <strong>Distancia: </strong>
            <span>{{$ctrl.event.distance}}</span>
        </div>
        <div flex>
            <strong>Estilo: </strong>
            <span>{{$ctrl.event.style}}</span>
        </div>
        <div flex>
            <strong>Categoria: </strong>
            <span>{{$ctrl.event.category.name}}</span>
        </div>
        <div flex>
            <strong>Sexo: </strong>
            <span>{{$ctrl.event.genderDescription}}</span>
        </div>
    </div>

    <!--<div layout="row">
<h2>Detalles</h2>
<span flex></span>
<md-button class="md-icon-button" aria-label="Editar" ng-link="['EventEdit', {tournamentId: $ctrl.tournament.id, eventId: $ctrl.event.id}]">
<md-icon>edit</md-icon>
<md-tooltip>Editar</md-tooltip>
</md-button>
</div>
<div layout="row">
<div class="md-body-2" flex="35" flex-gt-lg="20">Numero</div>
<div class="md-body-1" flex>{{$ctrl.event.number}}</div>
</div>
<div layout="row">
<div class="md-body-2" flex="35" flex-gt-lg="20">Distancia</div>
<div class="md-body-1" flex>{{$ctrl.event.distance}}</div>
</div>
<div layout="row">
<div class="md-body-2" flex="35" flex-gt-lg="20">Estilo</div>
<div class="md-body-1" flex>{{$ctrl.event.style}}</div>
</div>
<div layout="row">
<div class="md-body-2" flex="35" flex-gt-lg="20">Categoria</div>
<div class="md-body-1" flex>{{$ctrl.event.category.name}}</div>
</div>
<div layout="row">
<div class="md-body-2" flex="35" flex-gt-lg="20">Sexo</div>
<div class="md-body-1" flex>{{$ctrl.event.genderDescription}}</div>
</div>-->
</md-content>
<br>

<div>
    <span ng-if="$ctrl.event.state === 0">La Prueba no ha comenzado aun</span>
    <span ng-if="$ctrl.event.state === 1">
<span layout="row">
Prueba en progreso. Comienzo: {{$ctrl.event.startedDateTime | date: 'short'}}

<span flex></span> Duracion:&nbsp;
    <timer
        interval="1000"
        start-time="$ctrl.event.startedDateTime"
        language="es"
    >
        {{hhours}} h, {{minutes}} m, {{seconds}} s
    </timer>
    </span>
    </span>
    <span ng-if="$ctrl.event.state === 2">
La Prueba ha finalizado, duracion: {{$ctrl.event.durationTime}}</span>
</div>

<br>
<md-content>
    <md-tabs
        md-dynamic-height
        md-border-bottom
        md-selected="$ctrl.selectedTabIndex"
    >
        <md-tab label="Nadadores">
            <md-content>
                <br>
                <event-swimmers
                    event="$ctrl.event"
                    on-remove="$ctrl.removeSwimmer($event, swimmer)"
                ></event-swimmers>
            </md-content>
        </md-tab>

        <md-tab label="Cancheo">
            <br>
            <event-seeds
                tournament="$ctrl.tournament"
                event="$ctrl.event"
                on-change="$ctrl.refresh()"
            ></event-seeds>
        </md-tab>

        <md-tab label="Tiempos">
            <br>
            <event-times
                tournament="$ctrl.tournament"
                event="$ctrl.event"
                on-change="$ctrl.refresh()"
            ></event-times>
        </md-tab>

        <md-tab label="Posiciones">
            <br>
            <event-results event="$ctrl.event"></event-results>
        </md-tab>
    </md-tabs>
</md-content>
